edge_detection_results
edge_detection_sample_results
edge_detection_dataset
edge_detection_with_centroid_results
edge_with_centroid_results
edge_with_centroid_results_v2
edge_detection_results_01192026
edge_detection_with_centroid_results_01192026
edge_detection_results_1000_01262026